<br>
<br>
<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    Please resubmit after correcting the following errors:
    <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
 
  <%= label_tag(:title, "Item Title:") %>
  <%= f.text_field :title %>
  <br>
  <%= label_tag(:quantity, "Quantity:") %>
  <%= f.text_field :quantity %>
  <br>
   Tags:
  <% TagData::Categories.each do |category| %>
    <%= check_box_tag("product[tags][]", category, @product.tags.pluck(:category).include?(category)) %>
    <%= category %> 
  <% end %>
  <br>
  <%= f.submit %>

<% end %>
